<project name="Permissions by Term" basedir="." default="">

    <property name="dbname" value="pbt-d8" />
    <property name="db-username" value="username" />
    <property name="db-password" value="password" />

    <target name="dumpDb"
            description="Dumps the database to the db_dumps folder in the Drupal root directory.">
        <echo msg="Dumping database." />
        <exec command="mysqldump -uroot -ppassword ${dbname} > ${project-local-root-dir}/db_dumps/latest.sql"
              passthru="true"
              checkreturn="true" />
    </target>

    <target name="syncToLive"
            description="Sync data from local via Rsync to remote server.">
        <phingcall target="dumpDb">
        </phingcall>
        <echo msg="Syncing data to live server." />
        <exec command="rsync -a --progress --delete ${project-local-root-dir} --exclude=.git/ --exclude=.idea/ --exclude=sites/default/settings.php root@intellipass.it:${project-remote-root-dir}/"
              passthru="true"
              checkreturn="true" />
        <echo msg="Delete old database" />
        <exec command="ssh intellipass.it 'mysql -uroot -pLW0yhVlz -e &quot;drop database ${dbname};&quot;'"
              passthru="true"
              checkreturn="true" />
        <echo msg="Create new empty database" />
        <exec command="ssh intellipass.it 'mysql -uroot -pLW0yhVlz -e &quot;create database ${dbname};&quot;'"
              passthru="true"
              checkreturn="true" />
        <echo msg="Import database dump" />
        <exec command="ssh intellipass.it 'mysql -uroot -pLW0yhVlz ${dbname} &lt; ${project-remote-root-dir}/db_dumps/latest.sql'"
              passthru="true"
              checkreturn="true" />
    </target>
</project>
