<b>{% trans %}Allowed Users:{% endtrans %}</b>
{% if users is not empty %}
<ul>
  {% for user in users  %}
  <li>{{ user.displayname }}</li>
  {% endfor %}
</ul>
{% else %}
  <i>{% trans %}No user restrictions.{% endtrans %}</i>
{% endif %}
<br />
<b>{% trans %}Allowed Roles:{% endtrans %}</b>
{% if roles is not empty %}
  <ul>
  {% for role in roles %}
    <li>{{ role.label }}</li>
  {% endfor %}
</ul>
{% else %}
  <i>{% trans %}No role restrictions.{% endtrans %}</i>
{% endif %}